# Byte-complited / optimized /
__pycache__/
*.py[cod]
*$py.class

#folders
.idea/
.pytest_cache/

# reporting
report/
allure-results/
allure-report/
report.xml


# log
*.log

# secure info
secure.json
